ul.top {
  position:absolute;
  margin-top: 2.5em;
  margin-left: 0.5em;
}

ul.bot {
  position:absolute;
  margin-top: -3.8em;
  margin-left: 0.5em;
}

ul li {
  float:left;
  margin-right: 1em;
}
.icon {
  height: 16px !important;
  width: 16px !important;
  display: block;
  opacity: 0.2;
}
.icon_data {
    background: url('../img/data.png');

}

.icon_food {
    background: url('../img/food.png');
}

.icon_train {
    background: url('../img/train.png');
}

.icon_battle {
    background: url('../img/battle.png');
}

.icon_wc {
    background: url('../img/wc.png');
}

.icon_light {
    background: url('../img/light.png');
}

.icon_medicine {
    background: url('../img/medicine.png');
}

.icon_call {
    background: url('../img/call.png');
}

@font-face{
    font-family:'clock';
    src: url('../assets/alarm_clock.ttf');

}
