.icon_state {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_food {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_train {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_battle {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_wc {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_light {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_medicine {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

.icon_call {
    background: url('../img/smile.png');
    height: 16px !important;
    width: 16px !important;
    display: block;
    opacity: 0.5;
    /* Other styles here */
}

@font-face{
    font-family:'clock';
    src: url('../assets/alarm_clock.ttf');

}
